@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/*
@keyframes blink2 {
  0%, 33.333% { opacity: 1; }
  33.333%, 66.666% { opacity: 0.5; } 
  66.666%, 100% { opacity: 0; }
}
*/
